<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.knowledge.dao.user.UserDao">
    <insert id="addUser">
        insert into knowledge_user(`account`,`name`,`password`,add_time) values (#{account},#{name},#{password},now())
    </insert>
    <update id="deleteUserByIds">
        update knowledge_user set status=1 where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
    <update id="updateUserById">
        update knowledge_user set `account`=#{account},`name`=#{name},`password`=#{password} where id=#{id}
    </update>

    <select id="getUserList" resultType="com.guoguo.knowledge.entity.user.User">
        select id,`account`,`name`,`password`,add_time
        from knowledge_user
        <where>
            status=0
            <if test="account!=null and account!=''">and `account` like CONCAT('%',#{account},'%')</if>
            <if test="name!=null and name!=''">and `name` like CONCAT('%',#{name},'%')</if>
            <if test="password!=null and password!=''">and `password` like CONCAT('%',#{password},'%')</if>
        </where>
        limit #{page},#{limit}
    </select>
    <select id="getUserListCount" resultType="java.lang.Integer">
        select count(1) from knowledge_user
        <where>
            status=0
            <if test="account!=null and account!=''">and `account` like CONCAT('%',#{account},'%')</if>
            <if test="name!=null and name!=''">and `name` like CONCAT('%',#{name},'%')</if>
            <if test="password!=null and password!=''">and `password` like CONCAT('%',#{password},'%')</if>
        </where>
    </select>
    <select id="getUserById" resultType="com.guoguo.knowledge.entity.user.User">
        select
        id,
        `account`,`name`,`password`
        from knowledge_user
        where id=#{id}
        limit 1
    </select>
</mapper>